body{
    width: 60vw;
    padding-left: 15%;
    background-image: url(../img/schilder.jpg);
    background-color: white;
}
img{
    width: 60vw;
    max-width: 800px;
}

.maintitle{
    font-size: 5.5vw;
}
.chapter {
    font-family: Arial, Helvetica, sans-serif;
    font-weight:bold;
    font-size: 20pt;
    margin-top: 50pt;
    margin-bottom: 0pt;
    
}

.underchapter {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14pt;
    margin-top: 5pt;
}
p{
    font-size: 14pt;
    text-align: justify;
    max-width: 800px;
}


.analysis {
    background-color: white;
    
}

.concept{
    background-color: white;
}

.drawings{
    background-color: white;
}